<mat-toolbar>
  Menu
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="menuClick()"
    *ngIf="sidebarOpen"
      matTooltip="Close Menu"
  >
    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/main/tasks">
    <div class="menu-item">
      <mat-icon>checklist</mat-icon>
      <div>TASKS</div>
    </div>
  </a>
  <a mat-list-item routerLink="/main/board">
    <div class="menu-item">
      <mat-icon>width_normal</mat-icon>
      <div>BOARD</div>
    </div>
  </a>
</mat-nav-list>
