.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
